<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      
      h3 {
        color: #76CC1E;
      }
      #progressbar {
        background-color: black;
        border-radius: 10px; /* (height of inner div) / 2 + padding */
        padding: 3px;
        width: 350px;
      }
      #progressbar div {
        background-color: #76CC1E;
        width: 40%; /* Adjust with JavaScript */
        height: 15px;
        border-radius: 10px;
        font-size: x-small; 
        text-align: center;
        vertical-align: middle;
      }

    </style>
  </head>
  <body>
    <h1>Good Morning, <%= @subscriber.name.titleize %>!</h1>
    <h3>
      Here is a your daily list of Kickstarter projects ending today<br/>
    </h3>
    <% @projects.each do |project| %>
      <div class="project">
        <p><a href=<%= project.short_url %>><%= project.name %></a></p> 
        <p><%= project.pledge_deadline %></p>
        <div id="progressbar">
          <div style="width: <%= project.pledge_percent%>%;">
            <%= project.pledge_percent %>%
          </div>
        </div>
      </div>
    <% end %>
    <br/>
    <h4>Thanks for subscribing and have a fantastic day!</h4>
    <h4>- The Pecunia Nunc Team</h4>
    <h6>If you wish to unsubscribe, please <a href=<%=@url%>>click here.</a>
  </body>
</html>