<div class="gradient">
	<div class="row">
		<div id="logo">Pecunia Nunc</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="content">
				<h1>Hey there!</h1>
				<p>Receive a daily email digest of Kickstarter projects ending the same day<br />Leave your name and email below to get started.</p>
				<%= form_for @subscriber, class: 'form-horizontal', url: '/new' do |f| %>
					
				  <!-- <%= f.label :name %> -->
				  <%= f.text_field :name, placeholder: 'Name', class: 'input-large' %><br />

				  <!-- <%= f.label :email %> -->
				  <%= f.text_field :email, placeholder: 'Email', class: 'input-large' %><br />

				  <%= f.submit "Subscribe!", class: 'btn btn-large'%>
				<% end %>
			</div>
		</div>
	</div>
</div>
